
config SP804
	bool "SP804 Timer"
	depends on VEXPRESS
	
config ARM_TIMER
	bool "ARM architected CP15 timer for clocksource & clockevent"

config SOO_TIMER
	bool "SOO Virtualized timer device"
	depends on SOO && !AVZ
