if FB
config PL111_CLCD
	bool "PL111 CLCD framebuffer device"
	depends on VIRT32 || VIRT64

config QEMU_RAMFB
	bool "QEMU RAMFB Framebuffer device"
	depends on VIRT32 || VIRT64

config SOO_FB
	bool "SOO Virtualized FB device"
	depends on SOO && !AVZ

config VIRTFB
	bool "Virtual Framebuffer"
	help
		Provides a virtual framebuffer device without physical display output.
    		Useful for containerized environments or headless systems.
endif
