
if ARCH_ARM64

menu "Platform"

	config ARM64VT
		depends on AVZ
		bool "Virtualization support (ARM64 VT)"
		help
	  	  Enabling support of CPU virtualization extensions.
  
	choice
  		prompt "Target"
	
		config VIRT64
    		bool "Generic QEMU virt64 model"
	
		config RPI4_64
			bool "Raspberry Pi 4 64-bit"
			
	endchoice
		
	choice
    	prompt "Virtual address space size"
		help
		  Allows choosing one of multiple possible virtual address
		  space sizes. The level of translation table is determined by
		  a combination of page size and virtual address space size.
		  
        config VA_BITS_39
                bool "39-bit"
                
        config VA_BITS_48
                bool "48-bit"
        
	endchoice
                
source "arch/arm64/virt64/Kconfig"
source "arch/arm64/rpi4_64/Kconfig"

endmenu

endif
