#
# SOO Mobile Entity configuration
#

menu "SOO Mobile Entity frontend drivers"

config VDUMMY_FRONTEND
        bool "vdummy Dummy driver support debugging and testing"

config VUART_FRONTEND
	bool "vuart serial driver"

config VUIHANDLER_FRONTEND
	bool "vuihandler UI manager driver"

config VSENSELED_FRONTEND
    bool "vsenseled led matrix Sense HAT frontend"

config VSENSEJ_FRONTEND
    bool "vsensej joystick Sense HAT frontend"

endmenu

