#
# SOO Mobile Entity configuration
#

menu "SOO Mobile Entity frontend drivers"

config VDUMMY_FRONTEND
        bool "vdummy Dummy driver support debugging and testing"

config VUART_FRONTEND
	bool "vuart serial driver"

config VDOGA12V6NM_FRONTEND
	bool "vDoga12v6nm frontend for the DOGA 12V 6Nm blind motor"

config VWEATHER_FRONTEND
	bool "vWeather frontend for the SOO.outdoor weather station"

config VUIHANDLER_FRONTEND
	bool "vuihandler UI manager driver"

config VSENSELED_FRONTEND
    bool "vsenseled led matrix Sense HAT frontend"

config VSENSEJ_FRONTEND
    bool "vsensej joystick Sense HAT frontend"

config VENOCEAN_FRONTEND
    bool "En0cean frontend"

config VWAGOLED_FRONTEND
    bool "Wagoled frontend"
    
config VIUOC_FRONTEND
    bool "iuoc frontend"

config VKNX_FRONTEND
    bool "KNX frontend"

endmenu

