config RAM_BASE
	depends on RPI4 && !SO3VIRT
	hex "RAM Memory physical base address"
	default 0x00000000

config RAM_SIZE
        depends on RPI4
        hex "RAM memory size (Up to the hypervisor)"
        default 0x3f000000