

mainmenu "SO3 Polymorphic OS Configuration"
 
source "arch/Kconfig"

source "kernel/Kconfig"
 
source "devices/Kconfig" 

source "apps/Kconfig"

source "fs/Kconfig"
source "ipc/Kconfig"
source "mm/Kconfig"
 
config RTOS
	bool "RTOS-featured enabled"
 
config AVZ
	bool "AVZ SO3 Hypervisor mode (Agency Virtualizer)"
	depends on MMU

if !AVZ
config SOO
	bool "Configure SO3 as a Mobile Entity (ME)"
endif

if AVZ
config SOO
	bool "Configure AVZ to support SOO technology"
endif

config MMU
	bool "MMU enable"
	
config DEBUG_PRINTK
	bool "Debug printk"
 
# SOO subsystem and drivers
source "soo/Kconfig"

