
menu "Drivers"

config UART
	bool "Driver UART"

config NET
    bool "Driver Network"

	
source "devices/serial/Kconfig"
source "devices/mmc/Kconfig"
source "devices/ramdev/Kconfig"
source "devices/timer/Kconfig"
source "devices/irq/Kconfig"
source "devices/network/Kconfig"


endmenu
