
menu "Drivers"

config UART
	bool "Driver UART"
	
source "devices/serial/Kconfig"
source "devices/mmc/Kconfig"
source "devices/ramdev/Kconfig"
source "devices/timer/Kconfig"
source "devices/irq/Kconfig"


endmenu
