menu "Platform"

choice
	prompt "SO3 OS type"

config STANDALONE
        bool "Standalone OS"

endchoice

choice
  prompt "Target"

	config VIRT_RISCV64
    		bool "Virt Riscv64"

endchoice

config RAM_BASE
	hex "RAM Memory physical base address"
	default 0x00000000

endmenu
