
choice
	prompt "CPU Architecture"
	
	config ARCH_ARM32
		bool "ARM 32-bit"
		
	config ARCH_ARM64
		bool "ARM 64-bit"
endchoice

config SO3VIRT
		bool "SO3 Paravirtualized OS (running on AVZ)"
		depends on MMU && !AVZ

config ARCH
	string "ARM Architecture"
	default "arm32" if ARCH_ARM32
	default "arm64" if ARCH_ARM64

config CROSS_COMPILE
	string "Cross-compiler"
	default "arm-none-linux-gnueabihf-" if ARCH_ARM32
	default "aarch64-none-linux-gnu-" if ARCH_ARM64

config ARM_TRUSTZONE
	bool "Using ARM TrustZone with OPTEE-OS"


source "arch/arm32/Kconfig"
source "arch/arm64/Kconfig"


	
