
if ARCH_ARM32

menu "Platform"

config KERNEL_VADDR
	 
	hex "Virtual base address of kernel space"
	
choice
  prompt "Target"
	
	config VIRT32
    		bool "QEMU virt 32-bit machine"
			select GIC_V2

	config RPI4
    		bool "Raspberry Pi 4 Model B 32-bit"
			select GIC_V2

endchoice

endmenu

endif
