
choice

	prompt "SOO Mobile Entity environment"
	
	config SOO_REFSO3
		bool "SO3 ME Reference"
		help
			The SO3 ME is a reference mobile entity which is used for debugging and testing purposes.
			It helps in the test & debug of interactions between the Agency and the ME for example.
		
endchoice

