
if ARCH_ARM32

menu "Platform"

config KERNEL_VADDR
	 
	hex "Virtual base address of kernel space"
	
choice
  prompt "Target"
	
	config VIRT32
    		bool "QEMU virt 32-bit machine"
	
	config RPI4    	
    		bool "Raspberry Pi 4 Model B support"
 		
endchoice

source "arch/arm32/virt32/Kconfig"
source "arch/arm32/rpi4/Kconfig"

endmenu

endif
