CONFIG_ARM=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_DEFAULT_DEVICE_TREE="vexpress-v2p-ca15_a7"
CONFIG_TARGET_VEXPRESS_CA15_TC2=y
CONFIG_BOOTCOMMAND="run distro_bootcmd; run bootflash"
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_CMD_UBI=y
CONFIG_ENV_OVERWRITE=y
CONFIG_ENV_ADDR=0xFF80000
# CONFIG_MMC is not set
CONFIG_SYS_FLASH_USE_BUFFER_WRITE=y
CONFIG_SYS_FLASH_PROTECTION=y
CONFIG_SYS_FLASH_CFI=y
CONFIG_SMC911X=y
CONFIG_BAUDRATE=38400
# CONFIG_EFI_LOADER is not set
