
if ARCH_ARM64

menu "Platform"

	choice
  		prompt "Target"
	
		config VIRT64
    		bool "Generic QEMU virt64 model"
			select GIC_V2

		config RPI4_64
			bool "Raspberry Pi 4 64-bit"
			select GIC_V2

		config VERDIN_IMX8MP
			bool "Toradex Verdin iMX8MP"
			select GIC

	endchoice
		
	config VA_BITS_48
		default y
		bool "48-bit virtual address space"

endmenu

endif
