name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-virt32:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build 
        run: |
          docker run --rm -v "${PWD}:/so3" ghcr.io/smartobjectoriented/so3/so3-env:main bash -c "cd so3 && make virt32_defconfig && make -j"

  build-virt64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build
        run: |
          docker run --rm -v "${PWD}:/so3" ghcr.io/smartobjectoriented/so3/so3-env:main bash -c "cd so3 && make virt64_defconfig && make -j"
